In [12]:
import pandas as pd
from datetime import date, datetime
import numpy as np

In [15]:
path = "data/TotalData.csv"
data = pd.read_csv(path)
data["Date"] = pd.to_datetime(data["Date"])

In [16]:
#Binning the months into seasons
data['Month'] = data['Date'].apply(lambda dt: (dt.month%12 + 3)//3)
seasons = [0,1,2,3,4]
season_names = ['Winter', 'Spring', 'Summer', 'Fall']
data['Season'] = pd.cut(data['Month'], seasons, labels=season_names)
data.drop('Month', 1, inplace=True)
data.head()

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Location,Day,MinTemp,MaxTemp,Season
0,10000092,2015-03-18 19:44:00,047XX W OHIO ST,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,11.0,28.0,25.0,2015,02/10/2018 03:50:01 PM,"(41.891398861, -87.744384567)",2015-03-18,34,48,Spring
1,10000094,2015-03-18 23:00:00,066XX S MARSHFIELD AVE,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,7.0,15.0,67.0,2015,02/10/2018 03:50:01 PM,"(41.773371528, -87.665319468)",2015-03-18,34,48,Spring
2,10000095,2015-03-18 22:45:00,044XX S LAKE PARK AVE,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,2.0,4.0,39.0,2015,02/10/2018 03:50:01 PM,"(41.81386068, -87.596642837)",2015-03-18,34,48,Spring
3,10000096,2015-03-18 22:30:00,051XX S MICHIGAN AVE,BATTERY,SIMPLE,APARTMENT,False,False,225,2.0,3.0,40.0,2015,02/10/2018 03:50:01 PM,"(41.800802415, -87.622619343)",2015-03-18,34,48,Spring
4,10000097,2015-03-18 21:00:00,047XX W ADAMS ST,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,11.0,28.0,25.0,2015,02/10/2018 03:50:01 PM,"(41.878064761, -87.743354013)",2015-03-18,34,48,Spring

In [17]:
#Binning the location descriptions into inside or outside
location_dict = {'RESIDENCE' : 'Inside',
                 'APARTMENT' : 'Inside',
                 'SIDEWALK' : 'Outside',
                 'STREET' : 'Outside',
                 'ALLEY' : 'Outside',
                 'SCHOOL, PUBLIC, BUILDING' : 'Inside',
                 'VEHICLE NON-COMMERCIAL' : 'Outisde',
                 'RESTAURANT' : 'Inside',
                 'GAS STATION' : 'Outside',
                 'RESIDENTIAL YARD (FRONT/BACK)' : 'Outside',
                 'PARK PROPERTY' : 'Outside',
                 'COMMERCIAL / BUSINESS OFFICE' : 'Inside',
                 'CTA PLATFORM' : 'Outside',
                 'SCHOOL, PUBLIC, GROUNDS' : 'Outside',
                 'VACANT LOT/LAND' : 'Outside',
                 'DEPARTMENT STORE' : 'Inside',
                 'HOTEL/MOTEL' : 'Inside',
                 'CHA HALLWAY/STAIRWELL/ELEVATOR' : 'Inside',
                 'BANK' : 'Inside' }
data["Inside/Outside"] = data["Location Description"].map(location_dict)
data.head()

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Updated On,Location,Day,MinTemp,MaxTemp,Season,Inside/Outside
0,10000092,2015-03-18 19:44:00,047XX W OHIO ST,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,11.0,28.0,25.0,2015,02/10/2018 03:50:01 PM,"(41.891398861, -87.744384567)",2015-03-18,34,48,Spring,Outside
1,10000094,2015-03-18 23:00:00,066XX S MARSHFIELD AVE,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,7.0,15.0,67.0,2015,02/10/2018 03:50:01 PM,"(41.773371528, -87.665319468)",2015-03-18,34,48,Spring,Outside
2,10000095,2015-03-18 22:45:00,044XX S LAKE PARK AVE,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,2.0,4.0,39.0,2015,02/10/2018 03:50:01 PM,"(41.81386068, -87.596642837)",2015-03-18,34,48,Spring,Inside
3,10000096,2015-03-18 22:30:00,051XX S MICHIGAN AVE,BATTERY,SIMPLE,APARTMENT,False,False,225,2.0,3.0,40.0,2015,02/10/2018 03:50:01 PM,"(41.800802415, -87.622619343)",2015-03-18,34,48,Spring,Inside
4,10000097,2015-03-18 21:00:00,047XX W ADAMS ST,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,11.0,28.0,25.0,2015,02/10/2018 03:50:01 PM,"(41.878064761, -87.743354013)",2015-03-18,34,48,Spring,Outside

In [8]:
#binning the temparature

#for row in data.itertuples():
#    data['AvgTemp'] = (getattr(row, "MinTemp")+getattr(row, "MaxTemp"))/2
#this was was going to be waaay too slow

temps = data.loc[: , "MinTemp":"MaxTemp"]
data['AvgTemp'] = temps.mean(axis=1)
temp = [-200,30,50,70,90,200]
temp_labels = ['Below freezing', '30-50 degrees', '50-70 degrees', '70-90 degrees', 'Over 90 degrees']
data['Weather'] = pd.cut(data['AvgTemp'], temp, labels=temp_labels)
data.head()

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,...,Year,Updated On,Location,Day,MinTemp,MaxTemp,Season,Inside/Outside,AvgTemp,Weather
0,10000092,2015-03-18 19:44:00,047XX W OHIO ST,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,11.0,...,2015,02/10/2018 03:50:01 PM,"(41.891398861, -87.744384567)",2015-03-18,34,48,Spring,Outside,41.0,30-50 degrees
1,10000094,2015-03-18 23:00:00,066XX S MARSHFIELD AVE,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,7.0,...,2015,02/10/2018 03:50:01 PM,"(41.773371528, -87.665319468)",2015-03-18,34,48,Spring,Outside,41.0,30-50 degrees
2,10000095,2015-03-18 22:45:00,044XX S LAKE PARK AVE,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,2.0,...,2015,02/10/2018 03:50:01 PM,"(41.81386068, -87.596642837)",2015-03-18,34,48,Spring,Inside,41.0,30-50 degrees
3,10000096,2015-03-18 22:30:00,051XX S MICHIGAN AVE,BATTERY,SIMPLE,APARTMENT,False,False,225,2.0,...,2015,02/10/2018 03:50:01 PM,"(41.800802415, -87.622619343)",2015-03-18,34,48,Spring,Inside,41.0,30-50 degrees
4,10000097,2015-03-18 21:00:00,047XX W ADAMS ST,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,11.0,...,2015,02/10/2018 03:50:01 PM,"(41.878064761, -87.743354013)",2015-03-18,34,48,Spring,Outside,41.0,30-50 degrees